input{
    width:100%;
    font-size:25px;
    height:100%;
    background-color: white;
    border: 1px solid skyblue;
}
table td{
    
}


  .btnnumero{
    display:block;
    width:70px;
    height: 70px;
    font-size: 25px;
  }