<ion-header>
  <ion-toolbar>
    <ion-title>curso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button shape="round">Grabar</ion-button>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="fixed">Codigo</ion-label>
          <ion-input [(ngModel)]="cursoAuxiliar.codigo"></ion-input>
        </ion-item>
      </ion-col>
      
      <ion-col>
        <ion-item>
          <ion-label position="fixed">Cupo</ion-label>
          <ion-input type="number" [(ngModel)]="cursoAuxiliar.cupo"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="fixed">Descripcion</ion-label>
          <ion-input [(ngModel)]="cursoAuxiliar.descripcion"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row> 
  </ion-grid>

  <ion-button shape="round" (click)="nuevo()">Nuevo</ion-button>
  
</ion-content>
