*{
    margin: 0px;
    padding:0px;

}

.contenedor
{
    display: grid;
    grid-template: 50px 50px 50px 1fr 50px;
    grid-template-columns: 1fr;
    border: 0px;
    text-decoration: none;
    grid-template-areas:"cabecera"
                        "menu"
                        "crudPedidos"
                        "listado";
    
}

.general
{
    background-color: white;
    padding: 10px;
    font-family: serif;
}

/*CABECERA*/
.cabecera{
    grid-area: cabecera;
    font-family: serif;
    text-decoration: none;
    width:100%; 
}

.cabecera form{
    width: 98%;
    font-family: serif;
}

.cabecera table{
    text-align: right;
    font-family:  serif;
    margin: 0px;
    width: 100%;

}

#celdaCarrito{
    width: 9%;
}
#celdaImagen {
    margin-right: 50px;
    text-align: left;
    width: 20%;
  
}

.cabecera button{
    width: 100%;
    background: rgb(11, 11, 49);
    border-radius: 4px;
    padding: 10px;
    color: white;
    margin: 16px 0;
    font-size: 18px ;
    border:"none";
    font-family:  serif;
}

.cabecera a{
    text-decoration: none;
    color: black ;
    font-family:  serif;
    font-size: 18px;
 }

.cabecera input{
    width: 100%;
    background-color:white;
    padding: 10px;
    border-radius:4px ;
    font-family:  serif;
   
    border: 1px solid rgb(40, 40, 136) ;
    font-size: 18px;
    color: black;
}

.cabecera td{
    border-spacing: 0px;
}

/*MENÚ*/
#menu{
    grid-area: menu;
    font-family: serif;
    font-size: 20px;
    text-align:center;
    width: 98.5%;
}

ul, ol{
    list-style: none; /*Quitamos los estilos de lista */
    font-family: serif;
}

.lista{
    display: flex;
    font-family: serif;
}

.lista > li{
    text-align: left; /*Ubicamos el texto del submenú a la izquierda */
    width: 100%;
}

.lista li a{  /*Establecemos el formato para el submenú con sus respectivos enlaces */
    background-color:rgb(11, 11, 49);
    color:#fff;
    text-decoration:none; /*Permite quitar decoraciones al texto del submenú */
    padding:12px 50px;
    display:block;
    font-family: serif;
}

.lista li a:hover{ /*Color del submenú al pasar el mouse */
    background-color: rgb(40, 40, 136) ;
    
}

.lista li ul{ /*Ocultamos el submenú */
    display:none;
    position:absolute;
    z-index:2;/*Permite superponer el submenu del menu, el numero 2 representa la segunda capa del menu */
}

.lista li:hover > ul{ /*Aparecemos el submenú al pasar el mouse por la sección del menú a la que pertenece*/
    display: block;
}
.lista li ul li{
    position: relative;
}

/*CRUD PEDIDOS*/
.crudPedidos{
    grid-area: crudPedidos;
    font-family: serif;
    text-decoration: none;
    width:100%; 
}

.crudPedidos table{
    margin-top: 10px;
    margin-left: 10px;
    padding:10px;
    width: 30%;
    border-spacing: 6px;
    font-family: serif;
    font-size: 20px;
    background-color:white;
    color: black;
}

.crudPedidos input{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    color: black;
    font-family: serif;
}

.crudPedidos select{
    width: 106%;
    padding: 5px;
    font-size: 16px;
    color: black;
    font-family: serif;
}

.crudPedidos input:hover{
    border-color: rgb(40, 40, 136) ;
}
.botones{
    width: 100%;
    background: rgb(11, 11, 49) ;
    padding: 5px;
    color: white;
    margin-left: 10px;
    font-size: 16px ;
    font-family: serif;
    transition: all .5s ease;
}

.botones:hover{
    background: rgb(40, 40, 136) ;
}

/*LISTADO DE CONSULTA*/
#listado table{
    margin-top: 10px;
    margin-left: 10px;
    padding:10px;
    width: 70%;
    border-spacing: 6px;
    font-family: serif;
    font-size: 18px;
    background-color:white;
    color: black;
    border: solid 1px black;
    text-align: center;
}

.crudPedidos table td label{
    font-size: 20px;
}

#btnelim, #btnedit{
    width: 70%;
    background: rgb(32, 32, 107) ;
    padding: 5px;
    color: white;
    margin: 16px 0;
    font-size: 16px ;
    font-family: serif;
    transition: all .5s ease;
}
