*{
    margin: 0px;
    padding:0px;

}

#menu{
    grid-area: menu;
    font-family: serif;
    font-size: 20px;
    text-align:center;
    width: 94.8%;
   
    padding:1px 30px;/*Anchura del menú */
    margin:0px;
 }

ul, ol{
    list-style: none; /*Quitamos los estilos de lista */
}

.lista{
    display: flex;
}

.lista > li{
    
    text-align: left; /*Ubicamos el texto del submenú a la izquierda */
    width: 100%;
}

.lista li a{  /*Establecemos el formato para el submenú con sus respectivos enlaces */
    background-color:rgb(11, 11, 49);
    color:#fff;
    text-decoration:none; /*Permite quitar decoraciones al texto del submenú */
    padding:12px 50px;
    display:block;
}

.lista li a:hover{ /*Color del submenú al pasar el mouse */
    background-color: rgb(40, 40, 136) ;
    
}

.lista li ul{ /*Ocultamos el submenú */
    display:none;
    position:absolute;

    z-index:2;/*Permite superponer el submenu del menu, el numero 2 representa la segunda capa del menu */
}

.lista li:hover > ul{ /*Aparecemos el submenú al pasar el mouse por la sección del menú a la que pertenece*/
    display: block;
}

.lista li ul li{
    position: relative;
}

#btnbuscar{
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    width: 150px;
    height: 40px;
    font-size: 15px;
    background-color: rgb(11, 11, 49);
    color:white;
    border-radius: 6px;
    border: 1px solid white;
    font-family:  serif;
}

#btnbuscar:hover{
    background-color: rgb(40, 40, 136) 
}

#divtabla table{
    margin-left: 5px;
    margin-right: 24px;
    width:75%;
    border-collapse: collapse;
    border: 1px solid #cfcfcf;
}

.btncompra{
    text-decoration: none;
    width: 150px;
    height: 40px;
    font-size: 15px;
    background-color: rgb(11, 11, 49);
    color:white;
    border-radius: 6px;
    border: 1px solid white;
    font-family:  serif;
}

.btncompra:hover{
    background-color: rgb(40, 40, 136) 
}