*{
    margin: 0px;
    padding:0px;
    
    

}
.general
{
    background-color: white;
    padding: 10px;
    font-family: serif;
    
}
.contenedor
{
    display: grid;
    grid-template: 50px 50px 1fr 100px;
    grid-template-columns: 100%;
 
    
    text-decoration: none;

    grid-template-areas:"cabecera "
                        "menu "
                        "video"
                        "submenu"
                        "pie";
}

.cabecera{
    grid-area: cabecera;
    font-family: serif;
    text-decoration: none;
    width:100%;
    
}

.cabecera form{
    width: 98%;
    font-family: serif;
}

.cabecera table{
    text-align: right;
    font-family:  serif;
    margin: 0px;
    width: 100%;

}

#celdaCarrito{
    width: 9%;
}
#celdaImagen {
    margin-right: 50px;
    text-align: left;
    width: 20%;
  
}



.cabecera button{
    width: 100%;
    background: rgb(11, 11, 49);
    border-radius: 4px;
    padding: 10px;
    color: white;
    margin: 16px 0;
    font-size: 18px ;
    border:"none";
    font-family:  serif;
}

.cabecera a{
    text-decoration: none;
    color: black ;
    font-family:  serif;
    font-size: 18px;
 }

.cabecera input{
    width: 100%;
    background-color:white;
    padding: 10px;
    border-radius:4px ;
    font-family:  serif;
   
    border: 1px solid rgb(40, 40, 136) ;
    font-size: 18px;
    color: black;
}

.cabecera td{
    border-spacing: 0px;
   
}

#menu{
    grid-area: menu;
    font-family: serif;
    font-size: 20px;
    text-align:center;
    width: 98.5%;
}

ul, ol{
    list-style: none; /*Quitamos los estilos de lista */
    font-family: serif;
}

.lista{
    display: flex;
    font-family: serif;
}

.lista > li{
    
    text-align: left; /*Ubicamos el texto del submenú a la izquierda */
    width: 100%;
}

.lista li a{  /*Establecemos el formato para el submenú con sus respectivos enlaces */
    background-color:rgb(11, 11, 49);
    color:#fff;
    text-decoration:none; /*Permite quitar decoraciones al texto del submenú */
    padding:12px 50px;
    display:block;
    font-family: serif;
}

.lista li a:hover{ /*Color del submenú al pasar el mouse */
    background-color: rgb(40, 40, 136) ;
    
}
.lista li ul{ /*Ocultamos el submenú */
    display:none;
    position:absolute;
    z-index:2;/*Permite superponer el submenu del menu, el numero 2 representa la segunda capa del menu */
}

.lista li:hover > ul{ /*Aparecemos el submenú al pasar el mouse por la sección del menú a la que pertenece*/
    display: block;
}
.lista li ul li{
    position: relative;
}

.video 
{
    grid-area: video;   
}

/* SUBNMENU*/
.submenu{
    grid-area: submenu;

}

.contenedorSubmenu{
    display: grid;
    grid-template: 50% 50%;
    grid-template-columns: 17% 17% 17% 17% 17% 1fr;
    text-decoration: none;

    grid-template-areas:"submenu1 submenu2 submenu3 submenu4 submenu5 submenu6"
                        "cuadroOfertas cuadroOfertas cuadroOfertas cuadroOfertas cuadroOfertas cuadroOfertas";
}

.iconos{
    font-family: serif;
    margin-top: 15px;
    margin-bottom: 30px;
    border: 1px solid;
    border-color: skyblue;
    text-align:center;
    padding: 10px;
}

.iconos:hover{
    background-color: skyblue;
}

.cuadroOfertas{
    grid-area: cuadroOfertas;
    width: 100%;
}


.submenu label{
    font-family: serif;
    font-size: 29px;
    color: rgb(11, 11, 49);
    font-weight: bold;
}

.pie{
    grid-area: pie;
    background-color: rgba(18, 18, 75, 0.973);
    text-decoration: none;
    color:white;
    font-family:  serif;
    position: relative;
    font-family: serif;
}

.pie a{
    font-family: serif;
    text-decoration: none;
    color:white;
    font-family:  serif;
    
}




