*{
    margin: 0px;
    padding:0px;
}
.general
{
    background-color: pink;
    padding: 30px;
    border: 1px red ;
}
.contenedor
{
    display: grid;
    grid-template: 50px 50px 50px 1fr 100px;
    grid-template-columns: 200px 1fr;

    grid-gap: 5px;
    

    grid-template-areas:"cabecera cabecera"
                        "menu menu"
                        "video video"
                        "ordenar contenido"
                        "pie pie";
    
}

.cabecera{
    grid-area: cabecera;
    font-family: serif;
    font-size: 25px;
    font-weight: bold; /*Ubicamos en negrita el titulo */

    text-align: center;/*Centramos el titulo */
    padding:20px;
    
    
}

#menu{
    grid-area: menu;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    
    padding:0px 30px;/*Anchura del menú */
    margin:0px;
 }

ul, ol{
    list-style: none; /*Quitamos los estilos de lista */
}

.lista{
    display: flex;
}

.lista > li{
    
    text-align: left; /*Ubicamos el texto del submenú a la izquierda */
    width: 100%;
}



.lista li a{  /*Establecemos el formato para el submenú con sus respectivos enlaces */
    background-color:#FE2E2E;
    color:#fff;
    border: red;
    text-decoration:none; /*Permite quitar decoraciones al texto del submenú */
    padding:12px 50px;
    display:block;
}
.lista li a:hover{ /*Color del submenú al pasar el mouse */
    background-color:#434343 ;
    
}
.lista li ul{ /*Ocultamos el submenú */
    display:none;
    position:absolute;
    z-index:2;/*Permite superponer el submenu del menu, el numero 2 representa la segunda capa del menu */
}
.lista li:hover > ul{ /*Aparecemos el submenú al pasar el mouse por la sección del menú a la que pertenece*/
    display: block;
}
.lista li ul li{
    position: relative;
}

.video
{
    grid-area: video;
}

.ordenar{
    grid-area: ordenar;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;

    
}

.contenido{
    grid-area: contenido;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}
.pie{
    grid-area: pie;
}

